[build]
  command = "npm run build"
  publish = "dist"

[build.environment]
  VITE_BUILD_VERSION = "${COMMIT_REF}"

# prevent CDN/browser caching of JSON data
[[headers]]
  for = "/data/*.json"
  [headers.values]
    Cache-Control = "no-store"
